
<div class="row" ng-init="refresh()">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 text-center client-header">
				<label ng-bind="clientProfile"></label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header text-left">date
					<input type="text" class="text-left client-content" ng-model="client.date"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">dob
					<input type="text" class="text-left client-content" ng-model="client.dob"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">name
					<input type="text" class="text-left client-content" ng-model="client.firstName"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">phone
					<input type="text" class="text-left client-content" ng-model="client.phoneWork"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">address
					<input type="text" class="text-left client-content" ng-model="client.address"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">phone
					<input type="text" class="text-left client-content" ng-model="client.phoneHome"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4">
					<label class="client-sub-header">city
					<input type="text" class="text-left client-content" ng-model="client.city"></input></label>
				</div>
				<div class="col-xs-4">
					<label class="client-sub-header">state
					<input type="text" class="text-left client-content" ng-model="client.state"></input></label>
				</div>
				<div class="col-xs-4">
					<label class="client-sub-header">zip
					<input type="text" class="text-left client-content" ng-model="client.zip"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">cell #
					<input type="text" class="text-left client-content" ng-model="client.cell"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">email
					<input type="text" class="text-left client-content" ng-model="client.email"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">occupation
					<input type="text" class="text-left client-content" ng-model="client.occupation"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">employer
					<input type="text" class="text-left client-content" ng-model="client.employer"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">preferred appt. day
					<input type="text" class="text-left client-content" nng-model="client.preferredAptDay"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">time
					<input type="text" class="text-left client-content" ng-model="client.time"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">common hair care products used: (shampoo, spray, gel, etc)</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="client.commonHairProducts"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">common retail products purchased:</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="client.commonRetailProducts"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">referred by</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="client.referred"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">client remarks</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="client.clientRemarks"></input>
			</div>
		</div>

		<div class="row text-center" style="margin:1vmin;">
			<button class="btn btn-primary client-content" type="button" ng-click="updateClient()">Update</button>
			<button class="btn btn-primary client-content" type="button" ng-click="addClient()">Save</button>
			<button class="btn btn-primary client-content" type="button" ng-click="deleteClient(client._id)">Delete</button>
		</div>

	</div>

	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 text-center client-header">
				<label ng-bind="stylistOnly"></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">hair condition rating (1-10)
					<input type="text" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">comment
					<input type="text" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">scalp condition rating (1-10)
					<input type="text" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">comment
					<input type="text" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">preferred cut/style
				<input type="text" class="text-left client-content" ></input></label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="client-sub-header">porosity:</label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">extra porous
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">porous
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">normal
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="client-sub-header">hair texture:</label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">coarse
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">medium
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">fine
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="client-sub-header">color treatments:</label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">permanent
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">semi-permanent
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">toned
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">&nbsp;
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">highlights
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">lowlights
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">bleached
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">&nbsp;
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">&nbsp;
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">henna base
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">&nbsp;
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="client-sub-header">perms:</label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">exothermic
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">acid
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">alkaline
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="client-sub-header">relaxer
					<input type="text" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">formula
					<input type="text" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-2">
					<label class="client-sub-header">mild
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-2">
					<label class="client-sub-header">regular
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-2">
					<label class="client-sub-header">super
					<input type="checkbox" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="client-sub-header">product
					<input type="text" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">oz.
					<input type="text" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">color
					<input type="text" class="text-left client-content" ></input></label>
				</div>
				<div class="col-xs-3">
					<label class="client-sub-header">lift time
					<input type="text" class="text-left client-content" ></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">comments
				<input type="text" class="text-left client-content" ></input></label>
			</div>
		</div>


	</div>

	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 text-center client-header">
				<label ng-bind="clientHistory"></label>
			</div>
		</div>
	</div>
</div>