
<!-- <div class="row" ng-init="refresh()"> -->
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 text-center client-header">
				<label ng-bind="$ctrl.clientProfile"></label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header text-left">date
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.date"></input></label>
				</div>
				<div class="col-xs-6">
					<p class="input-group">
						<label class="client-sub-header text-left">dob</label>
          				<input type="text" class="form-control client-content" uib-datepicker-popup="{{format}}" ng-model="$ctrl.client.dob" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" required="true" close-text="Close" alt-input-formats="$ctrl.altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">name
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.firstName"></input></label>
				</div>
<!-- 				<div class="col-xs-1">
					<label class="client-sub-header">admin
					<input type="checkbox" class="text-left client-content" ng-model="$ctrl.client.admin"></input></label>
				</div> -->
				<div class="col-xs-6">
					<label class="client-sub-header">phone
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.phoneWork"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">

				<div class="col-xs-6">
					<label class="client-sub-header">address</label>
			    	<input type="text" ng-model="$ctrl.client.address" placeholder="" uib-typeahead="address for address in $ctrl.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
			    	<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			    	<div ng-show="noResults">
			      		<i class="glyphicon glyphicon-remove"></i> No Results Found
			    	</div>
				</div>

				<div class="col-xs-6">
					<label class="client-sub-header">phone
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.phoneHome"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4">
					<label class="client-sub-header">city
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.city"></input></label>
				</div>
				<div class="col-xs-4">
					<label class="client-sub-header">state
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.state"></input></label>
				</div>
				<div class="col-xs-4">
					<label class="client-sub-header">zip
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.zip"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">cell #
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.cell"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">email
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.email"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">occupation
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.occupation"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">employer
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.employer"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<label class="client-sub-header">preferred appt. day
					<input type="text" class="text-left client-content" nng-model="$ctrl.client.preferredAptDay"></input></label>
				</div>
				<div class="col-xs-6">
					<label class="client-sub-header">time
					<input type="text" class="text-left client-content" ng-model="$ctrl.client.time"></input></label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">common hair care products used: (shampoo, spray, gel, etc)</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="$ctrl.client.commonHairProducts"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">common retail products purchased:</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="$ctrl.client.commonRetailProducts"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">referred by</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="$ctrl.client.referred"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<label class="client-sub-header">client remarks</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<input type="text" class="text-left client-content" ng-model="$ctrl.client.clientRemarks"></input>
			</div>
		</div>

		<div class="row text-center" style="margin:1vmin;">
			<button class="btn btn-primary client-content" type="button" ng-click="$ctrl.updateClient();">Update</button>
		</div>

	</div>
</div>