<div class="container-fluid">
	<div class="container"> 
    	<div class="jumbotron">
      		<div class="jumbotron-content">
        		<h1>Hair I Am Shelly...</h1>
        		<div class="jumbotron-lg-only">
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input type="firstName" name="firstName" class="form-control" placeholder="FirstName" ng-model="credentials.firstName">
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input type="lastName" name="lastName" class="form-control" placeholder="LastName" ng-model="credentials.lastName">
                </div>
          			<div class="form-group">
            			<label for="email">Email:</label>
            			<input type="email" name="email" class="form-control" placeholder="Email" ng-model="credentials.email">
          			</div>
          			<div class="form-group">
          				<label for="password">Password:</label>
            			<input type="password" name="password" class="form-control" placeholder="Password" ng-model="credentials.password">
          			</div>
                <div ng-if="error" class="alert alert-danger" ng-bind="error"></div>
          			<button class="btn btn-primary btn-large" ng-click="register()">Sign Up</button>
              </div>
      		</div>
    	</div>
	</div>
</div>